:root {
  --lightGreen: #72e990;
  --darkGreen: #2fda4e;
  --almostWhite: #f1f2f9;
  --white: #ffffff;
  --black: #110f1a;
  --red: #c42021;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.filterContainer {
  padding: 1rem;
  color: var(--black);
  height: 90vh;
  position: fixed;
  overflow-y: scroll;
  top: 10vh;
  right: 0;
  width: 60vw;
  background: var(--almostWhite);
}

.filterContainer h4 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.5rem 0;
}
.filterContainer label {
  text-transform: capitalize;
  font-weight: 300;
}
.closeBtn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  border: none;
  color: var(--red);
}
.searchBar {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  width: 90%;
  margin-top: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.priceWrapper input {
  width: 40%;
  margin: 0 0.2rem;
  padding: 0.2rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 1rem;
}
.priceWrapper input[type="number"]::-webkit-inner-spin-button,
.priceWrapper input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.typeWrapper label {
  margin-left: 1rem;
}
.typeWrapper article {
  margin: 0.2rem 0;
}
.btnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.filterBtn,
.clearBtn {
  display: block;
  border: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 0.3rem 0;
  padding: 0.2rem 0.5rem;
}
.filterBtn {
  background: var(--darkGreen) !important;
}
@media screen and (min-width: 600px) {
  .filterContainer {
    width: 40vw;
  }
  .btnWrapper {
    position: absolute;
    bottom: 2rem;
    left: 0.5rem;
    padding-right: 1rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .btnWrapper button {
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
  }
  .closeBtn {
    font-size: 2rem;
  }
  .typeWrapper article {
    margin: 0.5rem 0;
  }
  .searchBar {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin: 2.5rem 0 1rem 0;
  }
}
@media screen and (min-width: 900px) {
  .filterContainer {
    color: var(--almostWhite);
    background: transparent;
    width: 100%;
    position: relative;
    top: 0;
    padding: 0.5rem 1rem;
    padding-bottom: 6vh;
  }
  .closeBtn {
    display: none;
  }
  .searchBar {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  .btnWrapper {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    padding: 1rem 0;
    width: 100%;
    left: 0;
    justify-content: space-around;
  }
  .priceWrapper input {
    width: 50%;
  }
}
